<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wi-Fi Manager</title>

    <link rel="stylesheet" href="{{ static_url("dist/css/bootstrap.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("wifi.css") }}" type="text/css">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dotslash Hub</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
	{% if 'result' in globals() and result == "success" %}
	<h1> Thanks! We will try to connect to {{ ssid }} </h1>
        {% else %}
        <h1>Choose your Wi-Fi</h1>
        <form action = "/wifi" method = "POST" class = "form-signin">
        <div class = "table">
          <table class = "table table-hover">
          {% if ssids %}
          {% for name in ssids %}
            <tr>
                  <td align = "left">
                  <span class = "label label-success"> <input type = "radio" name = "wifi" value="{{ name }}" required> {{ name }} </input></span>
                  </td>
            </tr>
          {% end %}
          {% end %}
          </table>
        </div>
        <input type="password" name="password" id="wifiPassword" class="form-control" placeholder="Wi-Fi Password" required/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
	{% end %}
      </div>
    </div>
  </body>
</html>
