<!DOCTYPE html>
<html lang ="en">
	<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
	 <title> DOTSLASH DASHBOARD</title>
	 <link rel="stylesheet" href="{{ static_url("dist/css/bootstrap.min.css") }}" type="text/css">
	 <link rel="stylesheet" href="{{ static_url("dashboard.css") }}" type="text/css">
	</head>
	<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Dotslash</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
        	<li><form action="/logout" method="post" id="logout" class="navbar-form navbar-right">
            {% module xsrf_form_html() %}
            <input type="hidden" name="username" value={{ handler.current_user }}>
			<div class="form-group">
			<button class="btn btn-sm btn-primary btn-block" type="submit">Logout</button>
			</div>
        	</form></li>
          </ul>
        </div>
      </div>
    </nav>
        <p> {{ handler.current_user }}'s dashboard,</p>
				{% if hubid != 0 %}
			<li><h4> Hub is active</h4><li>
		<h5> Nodes: </h5>
				{% if nodes %}
				{% for name, values in nodes.items()%}
                {% if type(values) is dict %}
				<h5><li>ID : {{ escape(name) }} </li>
					{% if nodes[name]['type']== 0x2%}
					<form action={{ escape("/user/"+str(hubid)+"/"+str(nodes[name]['devIndex'])) }} method="post" id="user_msg">
						<li>{{ escape("4 port switch") }}</li>
						<li> switch 1:{%if nodes[name]['switch1']==0 %}<input type="radio" name="switch1" value="on"> ON<input type="radio" name="switch1" value="off" checked> OFF {%  else %} <input type="radio" name="switch1" value="on" checked> ON<input type="radio" name="switch1" value="off" > OFF{% end %}</li>
						<li> switch 2:{%if nodes[name]['switch2']==0 %}<input type="radio" name="switch2" value="on"> ON<input type="radio" name="switch2" value="off" checked> OFF {%  else %} <input type="radio" name="switch2" value="on" checked> ON<input type="radio" name="switch2" value="off" > OFF{% end %}</li>
						<li> switch 3:{%if nodes[name]['switch3']==0 %}<input type="radio" name="switch3" value="on"> ON<input type="radio" name="switch3" value="off" checked> OFF {%  else %} <input type="radio" name="switch3" value="on" checked> ON<input type="radio" name="switch3" value="off" > OFF{% end %}</li>
						<li> switch 4:{%if nodes[name]['switch4']==0 %}<input type="radio" name="switch4" value="on"> ON<input type="radio" name="switch4" value="off" checked> OFF {%  else %} <input type="radio" name="switch4" value="on" checked> ON<input type="radio" name="switch4" value="off" > OFF{% end %}</li>
						<input type="hidden" name="next" value="{{ request.path }}">
						{% module xsrf_form_html() %}
						<input type="submit" value="{{_("Post") }}">
					</form>
					{% else %}
						<li>{{ escape("Unknown type") }}</li>
					{% end %}
							
				</h5>
                {% end %}
				{% end %}
				{% end %}

				{% else %} 
			<li><h4> Hub is offline</h4><li>
				{% end %}
	</body>
</html>
