<!DOCTYPE html>
<html>
	<head>
		<title> DOTSLASH </title>
	</head>
	<body>
		<h1> DOTSLASH INC </h1>
		<h2> Accelerating Present </h2>
		<h3>Active Devices</h3>
		<h4>Hub id :
				{% if hubid != 0%}
			<li>{{ str(hubid) }}</li>
				{% end %}
		</h4>
		<h5> Nodes: </h5>
				{% if nodes %}
				{% for name in nodes%}
				<h5><li>ID : {{ escape(name) }} </li>
					{% if nodes[name]['type']== 0x2%}
					<form action={{ escape("/user/"+str(hubid)+"/"+str(nodes[name]['devIndex'])) }} method="post" id="user_msg">
						<li>{{ escape("4 port switch") }}</li>
						<li> switch 1:{%if nodes[name]['switch1']==0 %}<input type="radio" name="switch1" value="on"> ON<input type="radio" name="switch1" value="off" checked> OFF {%  else %} <input type="radio" name="switch1" value="on" checked> ON<input type="radio" name="switch1" value="off" > OFF{% end %}</li>
						<li> switch 2:{%if nodes[name]['switch2']==0 %}<input type="radio" name="switch2" value="on"> ON<input type="radio" name="switch2" value="off" checked> OFF {%  else %} <input type="radio" name="switch2" value="on" checked> ON<input type="radio" name="switch2" value="off" > OFF{% end %}</li>
						<li> switch 3:{%if nodes[name]['switch3']==0 %}<input type="radio" name="switch3" value="on"> ON<input type="radio" name="switch3" value="off" checked> OFF {%  else %} <input type="radio" name="switch3" value="on" checked> ON<input type="radio" name="switch3" value="off" > OFF{% end %}</li>
						<li> switch 4:{%if nodes[name]['switch4']==0 %}<input type="radio" name="switch4" value="on"> ON<input type="radio" name="switch4" value="off" checked> OFF {%  else %} <input type="radio" name="switch4" value="on" checked> ON<input type="radio" name="switch4" value="off" > OFF{% end %}</li>
						<input type="submit" value="{{_("Post") }}">
					</form>
					{% else %}
						<li>{{ escape("Unknown type") }}</li>
					{% end %}
							
				</h5>
				{% end %}
				{% end %}
	</body>
</html>
