<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Dotslash INC</title>
		<link rel="stylesheet" href="{{ static_url("dist/css/bootstrap.min.css") }}" type="text/css">
		<link rel="stylesheet" href="{{ static_url("login.css") }}" type="text/css">

	</head>
	<body>
	<div class="container">
    {% if 'logintype' in globals() and logintype == "signup" %}
		<form action="/signup" method="POST" class="form-signin">
        {% if 'errorString' in globals() %}
			<div class="alert alert-danger">{{ errorString }}</div>
        {% end %}
        <a href="/login"><h5 class="form-signin-heading"> Have an account? Sign In </h5></a>
            {% module xsrf_form_html() %}
			<h4 class="form-signin-heading">Sign Up</h4>
		 	<input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus/>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required/>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
		</form>
    {% else %}
		<form action="/login" method="POST" class="form-signin">
        {% if 'errorString' in globals() %}
			<div class="alert alert-danger">{{ errorString }}</div>
        {% end %}
        <a href="/signup"><h5 class="form-signin-heading"> No Account? Create one </h5></a>
            {% module xsrf_form_html() %}
			<h4 class="form-signin-heading">Log In</h4>
		 	<input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus/>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required/>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
		</form>
    {% end %}
	</div>
	</body>
</html>
