<html>
    <head>
        {% if 'logintype' in globals() and logintype == "signup" %}
            <title>Create your account</title>
        {% else %}
	        <title>Sign In</title>
        {% end %}
	</head>
	<body>
    {% if 'logintype' in globals() and logintype == "signup" %}
        {% if 'errorString' in globals() %}
            <p>{{ errorString }}</p>
        {% end %}
        <p><a href="/login"> Have an account? Sign In </a></p>
		<form action="/signup" method="POST">
            {% module xsrf_form_html() %}
		 	<p>Username: <input type="text" name="username" /></p>
            <p> Hub ID : <input type="text" name="hubid" /></p>
            <p>Password: <input type="password" name="password" /></p></p>
			<p><input type="submit" value="Sign Up" /></p>
		</form>
    {% else %}
        {% if 'errorString' in globals() %}
            <p>{{ errorString }}</p>
        {% end %}
        <p><a href="/signup"> No Account? Create one </a></p>
		<form action="/login" method="POST">
            {% module xsrf_form_html() %}
		 	<p>Username: <input type="text" name="username" /></p>
            <p>Password: <input type="password" name="password" /></p></p>
			<p><input type="submit" value="Log In" /></p>
		</form>
    {% end %}
	</body>
</html>
